/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 75%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  background-image: url(./patents-cover-small_0.jpg);
  margin-top: 2em;
  height: auto;
  -webkit-font-smoothing: antialiased;
  font-family: normal small-caps normal 16px/1.4 Georgia;
}

/*
    6. Improve media defaults
  */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
label,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*
    10. Create a root font size to 10 pixels
  */
html {
  font-size: 85.5%;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* fonts styles - FOR THE FONTS FOR ELEMENTS IN THE DOCUMENT */

/* styles */

/* --------------------------------------------------- */

/* global styles - FOR THINGS THAT COMMON TO ALL DEVICES */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5em;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

#register_form {
margin-top: 4em;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bolder;
  font-size: large;
}

/* css of div i create for the two btn in the card */

input {
  border-radius: 10px;
  padding: 1em;
  background-color: #ffffff;
  transition: 300ms ease-in-out;
  background-color: rgba(234, 234, 234, 0.434);
}

.card-title {
  color: #ffffff;
}

input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
.card {
  background-color: rgba(59, 152, 125, 0.552);
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-weight: bolder;


}


.card:hover {
  transform: scale(1.02);
  -webkit-animation: pulse 3s 1;
  animation: pulse512 2.5s 1;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(42, 48, 134, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(73, 226, 42, 0);
  }
}

#submit_btn {
  margin-top: 2em;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  background: #ffffffd2;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit_btn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

#submit_btn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

#submit_btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

#submit_btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

#submit_btn:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* css of img company img */

/* --------------------------------------------------- */

/* _____________________________________________________MEDIA_QUERY_________________________________________________ */

/* portrait mobile */
@media (max-width: 47.9rem) and (orientation: portrait) {
  /* styles */
}

/* ________________ */

/* landscape mobile */
@media (max-width: 94rem) and (orientation: landscape) {
  /* styles */
}

/* ________________ */

/* portrait tablets */
@media (min-width: 48rem) and (max-width: 102.5rem) and (orientation: portrait) {
  /* styles */
}

/* ________________ */

/* landscape tablet & part of pc / leptop screens */

@media (min-width: 94.1rem) and (max-width: 142.5rem) and (orientation: landscape) {
  /* styles */
}

/* ______________________________________________ */

/* rest of all pc / leptop screens */

@media (min-width: 142.6rem) {
}

/* ________________________________ */
